.header__navigation {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.header__nav {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-between);
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  list-style: none;
  @include breakpoint(max-width 992px) {
    @include justify-content(center);
  }
  @include breakpoint(max-width 736px){
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    float: left;
    padding-top: 36px;
    @include box-sizing(border-box);
    left: 0;
    margin-top: 0;
    margin-left: 0;
    z-index: 4;
    top: 0;
    margin-bottom: 24px;
    background: rgba(193, 32, 37, .9);
  }
  > li {
    max-width: 76px;
    @include breakpoint(max-width 736px){
      max-width: 100%;
    }
    > a {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      position: relative;
      float: left;
      width: 100%;
      align-content: center;
      align-items: center;
      text-align: center;
      color: #0e0e0e;
      font-size: 13px;
      font-weight: 300;
      @include breakpoint(max-width 736px){
        color: #fff;
        padding: 10px;
        @include box-sizing(border-box);
        font-size: 16px;
      }
      > span {
        @include display-flex(flex);
        @include justify-content(center);
        align-items: center;
        position: relative;
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #e3e3e3;
        margin-bottom: 16px;
        @include breakpoint(max-width 736px){
          display: none;
        }
      }
    }
    > a:hover {
      color: #c12025;
      > span {
        border: 1px solid #c12025;
      }
      @include breakpoint(max-width 736px){
        color: #c12025;
      }
    }
  }
}

.header__trigger {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
  position: fixed;
  right: 12px;
  z-index: 15;
  top: 30px;
  @include breakpoint(max-width 736px) {
    display: block;
  }
  span, span:before, span:after {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #222;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
  }
  span:before {
    transition: all 0.2s;
    margin-top: -6px;
    content: '';
  }
  span:after {
    transition: all 0.2s;
    margin-top: 4px;
    content: '';
  }
  &--active span {
    background-color: transparent;
    &:before {
      transform: rotate(135deg);
      margin-top: 0;
    }
    &:after {
      transform: rotate(-134deg);
      margin-top: 0;
    }
  }
}