<!--<script src='../static/js/jquery-2.1.3.min.js' type="text/javascript"></script>-->
<script src='../static/js/vendors.js' type="text/javascript"></script>
<script src="../static/js/common.js" type="text/javascript"></script>
</body>
</html>