<section class="product">

    <div class="container">

        <ul class="breadcrumbs">
            <li><a href="#">Носки</a></li>
            <li><a href="#">Трусы</a></li>
            <li><a href="#">Перчатки</a></li>
            <li><a href="#">Шарфы</a></li>
            <li><a href="#">Все товары</a></li>
        </ul>

        <form class="product__search" action="">
            <input class="product__search--field" type="text" placeholder="Поиск в этом магазине">
            <button class="product__search--submit"></button>
        </form>

        <div class="product__views">

            <div class="product__views--sliders">

                <div class="product__views--slider">

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                </div>

                <div class="product__views--carousel">

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                </div>

            </div>

            <div class="product__views--tools">

                <h3 class="product__views--name">Название товара</h3>

                <p class="product__views--articul">Артикул: <span>23755</span></p>

                <a href="#" class="product__views--alter">Альтернативые названия товаров, теги</a>

                <div class="product__views--rating">
                    <a href="#" class="rating">
                        <span class="rating__star rating__fil-star"></span>
                        <span class="rating__star rating__fil-star"></span>
                        <span class="rating__star rating__fil-star"></span>
                        <span class="rating__star rating__fil-star"></span>
                        <span class="rating__star"></span>
                    </a>
                    <a href="#" class="more-rew">(<span>5</span>) отзывов о товаре</a>
                </div>

                <div class="product__views--element">
                    <span class="product__views--property">Страна производитель:</span>
                    <span class="product__views--value">Китай</span>
                </div>

                <div class="product__views--element">
                    <span class="product__views--property">Материал:</span>
                    <span class="product__views--value">Полипропилен</span>
                </div>

                <div class="product__views--element">
                    <span class="product__views--property">Цвет:</span>
                    <span class="product__views--value">
                        <select class="product__views--select" name="">
                            <option value="1">Серый</option>
                            <option value="2">Серый</option>
                            <option value="3">Серый</option>
                            <option value="4">Серый</option>
                            <option value="5">Серый</option>
                        </select>
                    </span>
                </div>

                <div class="product__views--element">
                    <span class="product__views--property">Размер:</span>
                    <span class="product__views--value">
                        <select class="product__views--select" name="">
                            <option value="1">М 44-46</option>
                            <option value="2">М 47-49</option>
                            <option value="3">М 50-52</option>
                            <option value="4">М 53-55</option>
                            <option value="5">М 56-58</option>
                        </select>
                    </span>
                </div>

                <div class="product__views--element">
                    <span class="product__views--property">Примерный срок доставки:</span>
                    <span class="product__views--value">3 дня</span>
                </div>

                <div class="product__views--element">
                    <span class="product__views--property">Всего на складе:</span>
                    <span class="product__views--value">56 штук</span>
                </div>
            </div>

            <a href="#" class="product__views--banner">
                <img src="../static/i/goods/single-banner.png" alt="">
            </a>

            <div class="product__views--prices">

                <h3>Цена <span>(без учета доставки)</span></h3>

                <form class="product__views--to-basket">
                    <p class="old-price">3500 <i class="fa fa-rub" aria-hidden="true"></i></p>
                    <p class="new-price" data-initial="3000">3000 <i class="fa fa-rub" aria-hidden="true"></i></p>

                    <div class="product__views--counter">
                        <span class="plus"></span>
                        <input class="number" type="text" value="1" min="1" max="999" size="5"/>
                        <span class="minus"></span>
                    </div>

                    <button class="product__views--submit" type="submit">Заказать</button>

                    <p class="product__views--coins">3 монетки</p>

                </form>

                <div class="product__views--social">

                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                </div>


            </div>

            <div class="product__descr">

                <ul class="product__descr--tabs">
                    <li><a href="#about" class="active">Описание товара</a></li>
                    <li><a href="#reviews">Отзывы о товаре</a></li>
                    <li><a href="#information">Информация о продавце</a></li>
                    <li><a href="#garanty">Гарантии</a></li>
                    <li><a href="#send">Написать продавцу</a></li>
                </ul>

                <div class="product__descr--wrapper">

                    <div id="about" class="product__descr--box">

                        <p>2016 Новые Мужские Бегунов Фитнес TrainingRunningJogging Брюки Мужчины Бренд Gymshark Топы
                        Бодибилдинг Тренировочные Брюки</p>
                        <p>1. Дорогой друг, спасибо за покупку подарков в нашем магазине. пожалуйста, не забудьте
                        предложить свое полное имя, подробный адрес, почтовый индекс, номер телефона. так что вы можете
                        получить посылку успешно. <br>
                         2.мы используем Азии szie, Пожалуйста, измерить размер в соответствии с брюками вы обычно носите
                        (не ваше тело), проверьте ваш размер с ниже диаграмму размера перед покупкой, Если ваши
                        измерения плавает между двумя размерами, советую выбрать больший размер. если вы не уверены в
                        размере, пожалуйста, оставьте мне сообщение о вашем весе и росте, Я Могу дать вам предложение.
                        примечание: Пожалуйста, позвольте 0.5-1 дюймов отличается из-за ручного измерения. (1 дюймов =
                        2.54 см) <br>
                        цвет фактические детали могут незначительно отличаться от указанных изображений в связи с другой
                        экране компьютера, спасибо за ваше понимание.</p>

                        <p>100% Brand New с тегом <br>
                        мужская футболка для мужчин/женщин топы <br>
                        рукав: О-образным вырезом <br>
                        стиль: повседневный/мода <br>
                        доступные размеры: M/L/XL/XXL <br>
                        1 дюймов = 2.54 см 1 см = 0.394 дюймов <br>
                        размер <br>
                        плечо (см) <br>
                        грудь (см) <br>
                        длина (см) <br>
                        объем груди (см) <br>
                        м <br>
                        40.5 <br>
                        100 <br>
                        75 <br>
                        94-102 <br>
                        L <br>
                        42 <p>

                    </div>

                    <div id="reviews" class="product__descr--box">

                        <p>2016 Новые Мужские Бегунов Фитнес TrainingRunningJogging Брюки Мужчины Бренд Gymshark Топы
                            Бодибилдинг Тренировочные Брюки</p>
                        <p>1. Дорогой друг, спасибо за покупку подарков в нашем магазине. пожалуйста, не забудьте
                            предложить свое полное имя, подробный адрес, почтовый индекс, номер телефона. так что вы можете
                            получить посылку успешно. <br>
                            2.мы используем Азии szie, Пожалуйста, измерить размер в соответствии с брюками вы обычно носите
                            (не ваше тело), проверьте ваш размер с ниже диаграмму размера перед покупкой, Если ваши
                            измерения плавает между двумя размерами, советую выбрать больший размер. если вы не уверены в
                            размере, пожалуйста, оставьте мне сообщение о вашем весе и росте, Я Могу дать вам предложение.
                            примечание: Пожалуйста, позвольте 0.5-1 дюймов отличается из-за ручного измерения. (1 дюймов =
                            2.54 см) <br>
                            цвет фактические детали могут незначительно отличаться от указанных изображений в связи с другой
                            экране компьютера, спасибо за ваше понимание.</p>

                        <p>100% Brand New с тегом <br>
                            мужская футболка для мужчин/женщин топы <br>
                            рукав: О-образным вырезом <br>
                            стиль: повседневный/мода <br>
                            доступные размеры: M/L/XL/XXL <br>
                            1 дюймов = 2.54 см 1 см = 0.394 дюймов <br>
                            размер <br>
                            плечо (см) <br>
                            грудь (см) <br>
                            длина (см) <br>
                            объем груди (см) <br>
                            м <br>
                            40.5 <br>
                            100 <br>
                            75 <br>
                            94-102 <br>
                            L <br>
                            42 <p>

                    </div>

                    <div id="information" class="product__descr--box">

                        <p>2016 Новые Мужские Бегунов Фитнес TrainingRunningJogging Брюки Мужчины Бренд Gymshark Топы
                            Бодибилдинг Тренировочные Брюки</p>
                        <p>1. Дорогой друг, спасибо за покупку подарков в нашем магазине. пожалуйста, не забудьте
                            предложить свое полное имя, подробный адрес, почтовый индекс, номер телефона. так что вы можете
                            получить посылку успешно. <br>
                            2.мы используем Азии szie, Пожалуйста, измерить размер в соответствии с брюками вы обычно носите
                            (не ваше тело), проверьте ваш размер с ниже диаграмму размера перед покупкой, Если ваши
                            измерения плавает между двумя размерами, советую выбрать больший размер. если вы не уверены в
                            размере, пожалуйста, оставьте мне сообщение о вашем весе и росте, Я Могу дать вам предложение.
                            примечание: Пожалуйста, позвольте 0.5-1 дюймов отличается из-за ручного измерения. (1 дюймов =
                            2.54 см) <br>
                            цвет фактические детали могут незначительно отличаться от указанных изображений в связи с другой
                            экране компьютера, спасибо за ваше понимание.</p>

                        <p>100% Brand New с тегом <br>
                            мужская футболка для мужчин/женщин топы <br>
                            рукав: О-образным вырезом <br>
                            стиль: повседневный/мода <br>
                            доступные размеры: M/L/XL/XXL <br>
                            1 дюймов = 2.54 см 1 см = 0.394 дюймов <br>
                            размер <br>
                            плечо (см) <br>
                            грудь (см) <br>
                            длина (см) <br>
                            объем груди (см) <br>
                            м <br>
                            40.5 <br>
                            100 <br>
                            75 <br>
                            94-102 <br>
                            L <br>
                            42 <p>

                    </div>

                    <div id="garanty" class="product__descr--box">

                        <p>2016 Новые Мужские Бегунов Фитнес TrainingRunningJogging Брюки Мужчины Бренд Gymshark Топы
                            Бодибилдинг Тренировочные Брюки</p>
                        <p>1. Дорогой друг, спасибо за покупку подарков в нашем магазине. пожалуйста, не забудьте
                            предложить свое полное имя, подробный адрес, почтовый индекс, номер телефона. так что вы можете
                            получить посылку успешно. <br>
                            2.мы используем Азии szie, Пожалуйста, измерить размер в соответствии с брюками вы обычно носите
                            (не ваше тело), проверьте ваш размер с ниже диаграмму размера перед покупкой, Если ваши
                            измерения плавает между двумя размерами, советую выбрать больший размер. если вы не уверены в
                            размере, пожалуйста, оставьте мне сообщение о вашем весе и росте, Я Могу дать вам предложение.
                            примечание: Пожалуйста, позвольте 0.5-1 дюймов отличается из-за ручного измерения. (1 дюймов =
                            2.54 см) <br>
                            цвет фактические детали могут незначительно отличаться от указанных изображений в связи с другой
                            экране компьютера, спасибо за ваше понимание.</p>

                        <p>100% Brand New с тегом <br>
                            мужская футболка для мужчин/женщин топы <br>
                            рукав: О-образным вырезом <br>
                            стиль: повседневный/мода <br>
                            доступные размеры: M/L/XL/XXL <br>
                            1 дюймов = 2.54 см 1 см = 0.394 дюймов <br>
                            размер <br>
                            плечо (см) <br>
                            грудь (см) <br>
                            длина (см) <br>
                            объем груди (см) <br>
                            м <br>
                            40.5 <br>
                            100 <br>
                            75 <br>
                            94-102 <br>
                            L <br>
                            42 <p>

                    </div>

                    <div id="send" class="product__descr--box">

                        <p>2016 Новые Мужские Бегунов Фитнес TrainingRunningJogging Брюки Мужчины Бренд Gymshark Топы
                            Бодибилдинг Тренировочные Брюки</p>
                        <p>1. Дорогой друг, спасибо за покупку подарков в нашем магазине. пожалуйста, не забудьте
                            предложить свое полное имя, подробный адрес, почтовый индекс, номер телефона. так что вы можете
                            получить посылку успешно. <br>
                            2.мы используем Азии szie, Пожалуйста, измерить размер в соответствии с брюками вы обычно носите
                            (не ваше тело), проверьте ваш размер с ниже диаграмму размера перед покупкой, Если ваши
                            измерения плавает между двумя размерами, советую выбрать больший размер. если вы не уверены в
                            размере, пожалуйста, оставьте мне сообщение о вашем весе и росте, Я Могу дать вам предложение.
                            примечание: Пожалуйста, позвольте 0.5-1 дюймов отличается из-за ручного измерения. (1 дюймов =
                            2.54 см) <br>
                            цвет фактические детали могут незначительно отличаться от указанных изображений в связи с другой
                            экране компьютера, спасибо за ваше понимание.</p>

                        <p>100% Brand New с тегом <br>
                            мужская футболка для мужчин/женщин топы <br>
                            рукав: О-образным вырезом <br>
                            стиль: повседневный/мода <br>
                            доступные размеры: M/L/XL/XXL <br>
                            1 дюймов = 2.54 см 1 см = 0.394 дюймов <br>
                            размер <br>
                            плечо (см) <br>
                            грудь (см) <br>
                            длина (см) <br>
                            объем груди (см) <br>
                            м <br>
                            40.5 <br>
                            100 <br>
                            75 <br>
                            94-102 <br>
                            L <br>
                            42 <p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>