<section class="search">

    <div class="container">

        <a href="/" class="logo">
            <img src="../static/i/logo.png" alt="">
        </a>

        <form class="search__form">

            <input class="search__form--field" type="text" placeholder="Поиск среди товаров">

            <div class="search__form--categories">

                <div class="search__form--trigger">
                   <span class="search__form--title" data-id="0">
                                    Все категории</span>
                    <span class="search__form--arrow"></span>
                </div>
                <ul class="search__form--list">
                    <li data-id="1">Все для ремонта</li>
                    <li data-id="2"> Увлечения и хобби</li>
                    <li data-id="3"> Детские товары</li>
                    <li data-id="4">Спорт и отдых</li>
                    <li data-id="5">Красота и здоровье</li>
                    <li data-id="6">Софт и программы</li>
                    <li data-id="7">Все для дачи</li>
                    <li data-id="8">Праздники и торжества</li>
                    <li data-id="9">Еда и напитки</li>
                    <li data-id="10">Обувь и сумки</li>
                    <li data-id="11">Другие категории</li>
                    <li data-id="12">Скидки и акции</li>
                </ul>

            </div>

            <button class="search__form--submit" type="submit">
                <span><img src="../static/i/icons/search-icon.png" alt=""></span>
            </button>

        </form>

        <a href="#" class="partner">
            <span><img src="../static/i/icons/shake-hands-icon.png" alt=""></span>
            <span>Стать партнером</span>
        </a>

    </div>

</section>