.product {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding-top: 18px;
  @include box-sizing(border-box);
  .breadcrumbs {
    margin-top: 0;
    width: calc(100% - 272px);
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-bottom: 15px;
    }
    > li {
      margin-right: 0;
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 16px;
        margin-left: 0;
        width: 1px;
        height: 14px;
        background-color: #e3e3e3;
        background-image: none;
      }
    }
    > li:first-of-type:after {
      display: none;
    }
  }
  &__search {
    display: block;
    position: relative;
    float: left;
    width: 270px;
    height: 42px;
    border: 1px solid #e4e4e4;
    border-radius: 32px;
    background-color: #ffffff;
    overflow: hidden;
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-bottom: 15px;
    }
    &--field {
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 50px);
      height: 100%;
      border: none;
      padding-left: 33px;
      padding-right: 10px;
      @include box-sizing(border-box);
      color: #787878;
      font-size: 14px;
      font-weight: 300;
    }
    &--submit {
      display: block;
      position: relative;
      float: left;
      width: 50px;
      height: 100%;
      border: none;
      background-color: transparent;
      background-image: url('../i/icons/search-prod__icon.png');
      background-repeat: no-repeat;
      background-position: 16px 12px;
    }
  }
  &__views {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    &--sliders {
      display: block;
      position: relative;
      float: left;
      width: 472px;
      @include breakpoint(max-width 660px) {
        width: 100%;
      }
    }
    &--slider {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 408px;
      overflow: hidden;
      @include breakpoint(max-width 660px) {
        height: 320px;
      }
    }
    &--slide {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        size: 100%;
        object-fit: contain;
      }
      .favorite {
        display: block;
        position: absolute;
        content: '';
        width: 48px;
        height: 48px;
        top: 15px;
        right: 15px;
        opacity: 0;
        @include transition(0.4s);
        background-color: #f8f5f6;
        border-radius: 50%;
        background-image: url('../i/icons/wishlist-icon.png');
        background-repeat: no-repeat;
        background-size: 26px 23px;
        background-position: 10px 12px;
      }
      .compare {
        display: block;
        position: absolute;
        content: '';
        width: 48px;
        height: 48px;
        top: 69px;
        right: 15px;
        opacity: 0;
        @include transition(0.4s);
        background-color: #f8f5f6;
        border-radius: 50%;
        background-image: url('../i/icons/scales-icon.png');
        background-repeat: no-repeat;
        background-size: 28px 28px;
        background-position: 10px 12px;
      }
      &:hover {
        .favorite, .compare {
          opacity: 1;
          @include transition(0.4s);
        }
      }
    }
    &--carousel {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 86px;
      overflow: hidden;
      margin-top: 16px;
    }
    &--carousel-item {
      display: block;
      position: relative;
      float: left;
      width: 86px;
      height: 86px;
      margin: 0 5px;
      border: 1px solid #e4e4e4;
      img {
        size: 100%;
        object-fit: cover;
        &:hover, &:focus {
          outline: none;
        }
      }
      .slick-slide {
        img {
          &:hover, &:focus {
            outline: none;
          }
        }
      }
    }
    &--tools {
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (472px + 272px + 2px));
      padding: 0 30px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 992px) {
        width: 100%;
      }
    }
    &--name {
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      color: #0e0e0e;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.4;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--articul {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 14px;
      color: #747474;
      font-size: 14px;
      font-weight: 300;
    }
    &--alter {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 24px;
      color: black;
      font-size: 14px;
      font-weight: 300;
      padding-left: 28px;
      @include box-sizing(border-box);
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 19px;
        height: 19px;
        top: 0;
        left: 0;
        background-image: url('../i/icons/teg-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
    &--rating {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 27px;
      > .rating {
        width: 135px;
        > .rating__star {
          width: 19px;
          height: 19px;
          margin-right: 8px;
          background-image: url('../i/icons/empty-big-star-icon.png');
        }
        > .rating__star.rating__fil-star {
          background-image: url('../i/icons/filed-big-star-icon.png');
        }
      }
      > .more-rew {
        display: block;
        position: relative;
        float: left;
        width: calc(100% - 135px);
        color: #1179c2;
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        &:hover {
          color: #1179c2;
          text-decoration: none;
        }
      }
    }
    &--element {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 0;
      padding: 2px 0;
      @include box-sizing(border-box);
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        border-bottom: 1px dotted #6e6e6e;
        left: 0;
        bottom: 0;
      }
    }
    &--element:last-of-type:after {
      bottom: -7px;
    }
    &--property {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      color: #7a7a7a;
      font-size: 13px;
      font-weight: 300;
      line-height: 35px;
    }
    &--value {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      text-align: right;
      color: black;
      font-size: 13px;
      font-weight: 400;
      line-height: 35px;
    }
    &--select {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 33px;
      background-color: white;
      border: 1px solid #e4e4e4;
      border-radius: 18px;
      padding-left: 20px;
      padding-right: 18px;
      @include box-sizing(border-box);
      color: #1f1f1f;
      font-size: 13px;
      font-weight: 300;
      line-height: 40px;
    }
    &--banner {
      display: block;
      position: relative;
      float: left;
      width: 272px;
      height: 403px;
      border: 1px solid #e4e4e4;
      @include breakpoint(max-width 992px) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      @include breakpoint(max-width 660px) {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        height: 320px;
      }
      img {
        size: 100%;
        object-fit: cover;
      }
    }
    &--prices {
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 472px);
      padding-left: 30px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 992px) {
        width: calc(100% - 274px);
        margin-top: 15px;
        margin-bottom: 15px;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      > h3 {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 19px;
        margin-bottom: 0;
        color: black;
        font-size: 18px;
        font-weight: 300;
        span {
          color: #9b9b9b;
          font-size: 14px;
        }
      }
    }
    &--to-basket {
      display: block;
      position: relative;
      float: left;
      .old-price {
        display: block;
        position: relative;
        float: left;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 0;
        margin-right: 11px;
        color: #9b9b9b;
        font-size: 14px;
        text-decoration: line-through;
        @include breakpoint(max-width 660px) {
          text-align: center;
          width: 100%;
          margin: 15px 0;
        }
      }
      .new-price {
        display: block;
        position: relative;
        float: left;
        margin-top: 10px;
        margin-bottom: 0;
        margin-right: 13px;
        font-weight: 400;
        color: #373737;
        font-size: 19px;
        @include breakpoint(max-width 660px) {
          font-size: 22px;
          text-align: center;
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
    &--counter {
      display: block;
      position: relative;
      float: left;
      width: 68px;
      height: 33px;
      margin-top: 4px;
      margin-right: 9px;
      background-color: white;
      border: 1px solid #e4e4e4;
      border-radius: 19px;
      overflow: hidden;
      @include breakpoint(max-width 660px) {
        width: 100%;
        height: 50px;
      }
      .number {
        display: block;
        position: relative;
        float: left;
        width: 40px;
        height: 100%;
        left: 3px;
        border: none;
        border-right: 1px solid #e4e4e4;
        border-top-left-radius: 19px;
        border-bottom-left-radius: 19px;
        text-align: center;
        @include breakpoint(max-width 660px) {
          width: 200px;
        }
      }
      .plus {
        display: block;
        position: absolute;
        width: 27px;
        height: 17px;
        top: 0;
        right: 0;
        border-bottom: 1px solid #e4e4e4;
        background-image: url('../i/icons/basket-arr-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 5px;
        background-size: 6px 5px;
        background-position: 10px 7px;
        cursor: pointer;
        @include breakpoint(max-width 660px) {
          width: 68px;
          height: 25px;
          background-size: 15px 15px;
        }
      }
      .minus {
        display: block;
        position: absolute;
        width: 27px;
        height: 17px;
        right: 0;
        bottom: 0;
        background-image: url('../i/icons/basket-arr-down-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 5px;
        background-size: 6px 5px;
        background-position: 10px 7px;
        cursor: pointer;
        @include breakpoint(max-width 660px) {
          width: 68px;
          height: 25px;
          background-size: 15px 15px;
        }
      }
    }
    &--submit {
      display: block;
      position: relative;
      float: left;
      width: 163px;
      height: 31px;
      background-color: #cb3d41;
      border: none;
      border-radius: 19px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      margin-top: 7px;
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    &--coins {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 7px;
      margin-bottom: 0;
      padding-left: 30px;
      @include box-sizing(border-box);
      color: #464646;
      font-size: 13px;
      font-weight: 300;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 20px;
        height: 18px;
        top: 0;
        left: 0;
        background-image: url('../i/icons/coin-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
    &--social {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(flex-end);
      position: relative;
      float: right;
      @include breakpoint(max-width 992px) {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        @include justify-content(center);
      }
      > a {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(center);
        position: relative;
        float: left;
        width: 45px;
        height: 45px;
        margin-left: 13px;
        border-radius: 50%;
        border: 1px solid #cacaca;
        color: #c8c8c8;
        &:hover {
          color: #ca3f43;
          border: 1px solid #ca3f43;
        }
      }
    }
  }
  &__descr {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    &--tabs {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(flex-start);
      position: relative;
      float: left;
      width: 100%;
      list-style: none;
      margin-top: 40px;
      margin-bottom: 37px;
      padding: 0;
      background-color: #f7f7f7;
      @include breakpoint(max-width 660px) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      li {
        float: left;
        @include breakpoint(max-width 660px) {
          width: 100%;
        }
        a {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          padding: 25px 22px;
          @include box-sizing(border-box);
          color: #000000;
          font-size: 14px;
          font-weight: 300;
          @include breakpoint(max-width 660px) {
            padding: 15px 10px;
          }
          &:hover {
            font-weight: 700;
          }
        }
        a.active {
          color: #000000;
          font-weight: 700;
        }
      }
    }
    &--wrapper {
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }
    &--box {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      p {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #000000;
        font-weight: 300;
        font-size: 14px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 24px;
        @include breakpoint(max-width 660px) {
          line-height: 22px;
          margin-bottom: 10px;
        }
      }
    }
  }
}